
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ececec;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

.projects-container {
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
}

.project {
  flex: 1 1 300px;
  background-color: #fff;
  padding: 20px;
  border: 5px outset #b5c8cc;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  min-width: 280px;
  max-width: 400px;
}

.project h2 {
  margin-bottom: 10px;
  color: #3b2f2f;
}

.project a {
  color: #b5c8cc;
  text-decoration: none;
  font-weight: bold;
}

.project a:hover {
  text-decoration: underline;
  color: #a8a098
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #b5c8cc;
  position: fixed;
  height: 100%;
  overflow: auto;
}


.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}


.sidebar a.active {
  background-color: #ffff;
  color: #333;
}


.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}


div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}


@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
    display: block;
  }
}

footer {
  text-align: center;
  margin-top: 40px;
  font-size: 0.9em;
  color: #777;
}
